<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.polleo.IzumApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_polleo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Izum"
        tools:targetApi="31">
        <activity
            android:name="com.polleo.ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Izum">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.packs.PacksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.poll.PollActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.edit.EditPollActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.edit.pack.CreatePackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.poll.statistic.PollStatisticActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.pack.history.PackHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.UserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.create.EditPackActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.paywall.SubscriptionPaywallActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.onboarding.OnboardingActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>